body {
  font-family: 'Roboto' sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #00a2ff;
  background-color: #000000;
}

i {
  color: white;
}

.bg-dark {
  background-color: #000000 !important;
}

.bg-dark-x {
  background-color: #201a0f;
}

.bg-primary {
  background: -webkit-gradient(linear, left top, right top, from(#00a2ff), to(#00629b));
  background: linear-gradient(90deg, #00a2ff 0%, #00629b 100%);
}

.navbar {
  min-height: 5rem;
}

.text-primary {
  background: -webkit-gradient(linear, left top, right top, from(#00a2ff), to(#00629b));
  background: linear-gradient(90deg, #00a2ff 0%, #00629b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-muted {
  color: #a1b0bf !important;
}

.card-text {
  color: white !important;
}

.imagecard {
  border-radius: 7px;
}

h1,
h2,
h3 {
  color: white;
}

a {
  color: #00a2ff;
}

a .card:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a:hover {
  color: #00a2ff;
  text-decoration: none;
}

.btn {
  font-weight: 700;
  padding: .5rem 1rem;
  border: 0;
  border-radius: .4rem;
}

.btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#00a2ff), to(#00629b));
  background: linear-gradient(90deg, #00a2ff 0%, #00629b 100%);
  color: #ffffff;
  width: 100%;
}

.btn-primary:hover {
  opacity: .8;
  color: #ffffff;
}

.btn-secundary {
  background: -webkit-gradient(linear, left top, right top, from(#00a2ff), to(#00629b));
  background: linear-gradient(90deg, #00a2ff 0%, #00629b 100%);
  color: #ffffff;
  width: 100%;
}

.btn-secundary:hover {
  opacity: .8;
  color: #ffffff;
}

.shadow {
  -webkit-box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.5) !important;
}

.imagepasoapaso {
  border-radius: 1rem;
}

.logo {
  height: 100px;
}

.logo:hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: .5;
}

.icon-container {
  height: 50px;
  width: 50px;
}

.rounded-top {
  border-top-left-radius: .5rem !important;
  border-top-right-radius: .5rem !important;
}

.form-control {
  background-color: #000000;
  height: unset;
  padding: .5rem .8rem;
  border: 0;
}

.form-control:focus {
  background-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.text-area {
  padding: .5rem .8rem;
}

.card-img-top {
  /*------------ modificaciones en la imagen del card -------------------*/
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.letrafooter {
  color: white;
}

.fondofooter {
  background-color: #201a0f;
}

p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

video {
  border-radius: 5px;
  border: none;
  width: 90%;
}

@media (max-width: 575.98px) {
  .w-75 {
    width: 90% !important;
  }
  video {
    width: 90%;
  }
  p {
    width: 90%;
  }
  .py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .btn {
    width: 100%;
  }
  .list-inline-item {
    display: block;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .list-inline-item {
    display: inline-block;
  }
  footer .text-right {
    text-align: center !important;
  }
  footer small {
    display: block;
  }
  footer .container p {
    width: 90%;
    text-align: center !important;
  }
  .card-body p {
    display: block;
    text-align: center !important;
  }
}

@media (max-width: 991.98px) {
  video {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */